#dash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(224, 247, 247);
    height: 100vh;
}

#dash button {
    width: max-content;
} 